# Python cache and object files
__pycache__/
*.py[cod]

# Coverage.py
.coverage
.cov
coverage.xml

# setuptools
/build/**/*.*
/dist/**/*.*
/*.egg-info

# Dependencies
!requirements.txt

# Sphinx
/doc/_build/
/doc/_theme/
/doc/pyEDAA.ProjectModel/**/*.*
!/doc/pyEDAA.ProjectModel/index.rst

# PyCharm project files
/.idea/workspace.xml
