-r ../requirements.txt

pyTooling ~= 7.0

# Enforce latest version on ReadTheDocs
sphinx ~= 8.1
docutils ~= 0.21

# Sphinx Extenstions
sphinxcontrib-mermaid ~= 1.0
autoapi>=2.0.1
sphinx_fontawesome>=0.0.6
sphinx_autodoc_typehints ~= 2.5
