-r ../requirements.txt

pyTooling ~= 6.1

# Enforce latest version on ReadTheDocs
sphinx ~= 7.3

# Sphinx Extenstions
sphinxcontrib-mermaid>=0.7.1
autoapi>=2.0.1
sphinx_fontawesome>=0.0.6
sphinx_autodoc_typehints ~= 2.1
